
/* global */
    *{box-sizing: border-box; padding: 0;margin: 0;}
    /* border: 1px solid blue; */
/* header */
    /* header{display: block;}
    nav{ background-color: rgb(213, 213, 255);}
    #logo{display: inline-block; float: left; margin: 4px 0 0 100px;}

    header a{color: brown; text-decoration: none;}
    #tag{padding: 11px 0 11px 180px; border: 1px solid blue;background-color: blueviolet;}

    nav #bar{display: inline-block;float: right;}
    #bar ul{float: right; list-style-type: none;}
    #bar li{display: inline; padding: 10px;
        font-size: larger;font-weight: 500; border: 1px solid green;}
    
    .clear:after{content:""; display:block; clear: both; } */

     /* header */
    /* header a{color: brown; text-decoration: none;}
    header nav{background-color: rgb(213, 213, 255);}
    #logo{float: left; margin: 4px 0 0 100px;}
    #tag{ border: 1px solid blue;}
    #tag ul{ list-style-type: none; float: left;border: 1px solid blue;}
    #tag li{margin: 0 7px;padding: 10px;display: inline-block;} -->
    .clear:after{content:""; display:block; clear: both; } */

     /* header */
    /* header h2{border: 1px solid blue;float: left;}
    header ul{border: 1px solid blue;float: left;} */

/* header */
.clear::after{content:""; display:block; clear: both;}
header a{color: purple; text-decoration: none;}
.navcol{color: #063f50;text-shadow: #063f50;}

nav{display: block; background-color:rgb(255, 246, 228)}
#logo{float: left; margin: 4px 0 0 20px;}
nav h2{float: left; margin:11px;}
nav p{ font-size:small; font-weight:bold; color: #063f50;}
nav ul{float: right; margin: 22px 22px 0 0; font-size: 21px; font-weight: 500;}
nav li{display: inline-block; margin: 0 10px;}
    
/* main */
main{margin: 10px 10px 0 10px;} 

/* footer */
footer{display: block; margin-top: 10px; background-color: aquamarine;}
#foonav ul{display: block;text-align: center; padding: 20px;}
#foonav li{display: inline;padding: 10px;margin: 0px 10px;}
#foonav a{color: black; text-decoration: none; font-size: 20px; font-weight:800;}
#copyright{display: block; text-align: center; padding: 15px;
            background-color: rgb(13, 11, 41); color: white;}

/* home */
/* main */  
.home #group1{float: left;margin: 10px;text-align: center;}
.home #group2{float: left;margin: 10px;text-align: center}
.home #group3{float: left; margin: 10px;text-align: center}
.gallery{margin: 0 18px;}
/* Collections */

/* about */
.about #about{
    height: 100%;
    width: 100%;
}
#about{
    background-image: url('/images/saree.jpg');
    transform: scaleX(-1);
    background-repeat: no-repeat;
    background-size:100% 100%;
        }
#about p{
    transform: scaleX(-1);
    text-align: justify;
    width: 45%;
    color:rgb(255, 255, 255);
    padding: 150px 80px 100px 50px;
    /* border: 1px solid blue */
        }

/* contact us */
.maincontact{display: block;}
#contactbox{display: block; margin: 5px 0px;}
#contactbox h1 {text-align: center; font-size: 24px;font-style: normal; padding: 20px 0 50px 0;}
.contactsec{display: block;margin-left: 30px;   }
.contactsec h4 {border-bottom: #555555 2px; font-size: 20px;}
.contactsec h3 {border-bottom: #555555 2px; font-size: 18px;}
.contact{background-color: rgb(151, 50, 50); border-radius: 5px;padding: 20px;}
#contact{
    background-image: url('/images/saree3.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
}
input[type=text]{
    width: 50%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type=button] {
    width: 20%;
    background-color: #004053;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=button]:hover {
    background-color: #002b38;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    }

